*{
    margin: 0px;
    padding: 0px;
}

.paginaPrincipal{
    display: flex;
    flex-direction: column; /*Organiza los elementos de manera vertical y en columnas*/
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/*.paginaPrincipal header{
    text-align: center;
    width: 100%;
    background-color: #5a5a5a;
}*/

.paginaPrincipal footer,
.paginaPrincipal header{
    width: 100%;
    background-color: #5a5a5a;
    height: 150px;
    /*Los siguientes 3 renglones son para centrar los elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorWhite{
    color: white;
}

.paginaPrincipal .contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.contenido nav{
    width: 200px;
    background-color: #8f8e8c;
    height: calc(100vh - 300px);
}

.contenido article{
    width: calc(100% - 200px);
    height: calc(100vh - 300px);
}